<a href="https://colab.research.google.com/github/josesuarez2424/Prog_Alg_Taller_3/blob/main/Taller_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# calcular la distancia entre 2 puntos

In [12]:
x1=float(input("digitar la coordenada x del primer punto"))
y1=float(input("digitar la coordenada y del primer punto"))
x2=float(input("digitar la coordenada x del segundo punto"))
y2=float(input("digitar la coordenada  del segundo punto"))

D=float(((x1-y2 )*2 + (y2 - y1)*2)*1/2)


print(("la distancia entre los dos puntos es,"),D)

digitar la coordenada x del primer punto1
digitar la coordenada y del primer punto2
digitar la coordenada x del segundo punto5
digitar la coordenada  del segundo punto8
la distancia entre los dos puntos es, -1.0

# calcular la posicion de una particula

In [16]:

X0 = float(input("escriba la posicion inicial"))
V0 = float(input("escriba la velocidad inicial"))
t = float(input("escriba el tiempo"))
a = float(input("escriba la aceleracion"))

X = X0 + V0*t + 0.5 + (a*(t**2))

V0 = 16
X0 = 20
t = 8.5
a = 6

print("la posicion de una particula", X)

escriba la posicion inicial20
escriba la velocidad inicial16
escriba el tiempo8.5
escriba la aceleracion6
la posicion de una particula 590.0

# calcular el volumen de un cilindro

In [17]:
r = float(input("escriba el radio"))
h = float(input("escriba la altura"))


V = 3.141592*r**2*h

print("el volumen de un cilindro", V)

escriba el radio6
escriba la altura15
el volumen de un cilindro 1696.45968

# calcular las siguientes operaciones

In [26]:
A = 10/2
B = 5/8
D = 3/8

A>B , B>D

(True, True)

In [27]:
B = 5/8
C = 5/8
D = 11/2

B<=C , C<D

(True, True)

In [38]:
A = 1/2
B = 1/2
C = 2/5

A=B , B>C

In [37]:
A = 3/2
B = 8/3
C = 10/3

A<C , B<C

(True, True)

In [39]:
A = 3/2
B = 25/4
C = 13/3
D = 1/2

A + D < C , B > 5

(True, True)

In [41]:
A = -6/5
B = 1/2
C = 7/3
D = 8/2

D - C >= -A * B

True

In [42]:
A = 25/3
B =10/4
C = 10/4
D= 2

D * C == 5 , C * A > 9

(True, True)

In [44]:
A = 20/4
B = 15/3
C = 20/5
D = -7/5

A * B + C > -D * 10

True